/* BAKGRUNN */

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', 'Poppins';
}

.Wrapper {
    width: 1440px;
    margin: 0 auto;
}

.Clear {
    clear: both;
}

/* HEADER */

header {
    background-color: black;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.Logo span {
    color: #D22CF5;
    font-weight: 800;
    font-size: 38px;
    font-family: 'Montserrat';
    text-decoration: none;
}

.Logo a {
    font-size: 38px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.Logo p {
    font-size: 16px;
    color: white;
    line-height: 0%;

}

.Logo {
    float: left;
}


/* NAVIGATION HEADER */

nav {
    background-color: #101018;
    height: 62px;
}

.Navigation {
    float: right;
}

nav ul {
    font-size: 16px;
    list-style: none;
    color: white;
}

nav li {
    float: left;
}

nav a {
    margin-left: 80px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.selected {
    color: #D22CF5;
    font-weight: 600;
    font-size: 16px;
}

.Searchbar {
    background-color: white;
    width: 490px;
    height: 42px;
    float: left;
    margin-top: 18px;
}

.Searchbar input {
    color: black;
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
    padding-left: 35px;
    margin-top: 7px;
    margin-left: 10px;
    width: 390px;
}

.Searchbar img {
    height: 20px;
    width: 20x;
}

.Searchbar button {
    border: none;
    background-color: #FF6001;
    height: 42px;
    width: 50px;
    float: right;
    cursor: pointer;
}

/* BACKGROUND */

.Background {
    background-image: url(/Images/header.png);
    width: 1440px;
    height: 900px;
    background-size: cover;
    background-position: center center;
}

.Textbox {
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.56) 100%);
    height: 270px;
    width: 588px;
    float: right;
    margin-top: 500px;
    border-radius: 40px 0px 0px 40px;
}

.Textbox h5 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Montserrat';
    text-align: center;
    letter-spacing: 5.4px;
    line-height: 0px;
}

.Textbox h6 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 0px;
}

.Textbox button {
    background-color: #FF6001;
    height: 42px;
    width: 150px;
    border-radius: 60px;
    margin-left: 220px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-size: 16px;
    font-family: 'Poppins';
}

.Textbox button:hover {
    background-color: white;
}


/* FEATURED GAMES */


h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: white;
    padding: 20px 0px 20px 622px;
}

h2 span {
    color: #FF6001;
}

.Line1 hr {
    float: left;
    margin-top: 30px;
}

.Line2 hr {
    float: right;
    margin-top: 30px;
}

.Gallery {
    background: linear-gradient(180deg, rgba(16, 16, 24, 0.9) 0%, rgba(16, 16, 24, 0) 100%);
    width: 1440px;
    height: 400px;
}

.Gallery ul {
    padding-left: 100px;
}

.Gallery img {
    height: 286px;
    width: 224px;
    object-fit: cover;
}

.Gallery li {
    float: left;
    margin: 40px;
    list-style: none;
}

.Gallery li:hover {
    transform: scale(1.1);
}

.Game1 p {
    width: 224px;
    height: 42px;
    background-color: #000000;
    opacity: 80%;
    margin-top: -46px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}

.Game2 p {
    width: 224px;
    height: 42px;
    background-color: #000000;
    opacity: 80%;
    margin-top: -46px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}

.Game3 p {
    width: 224px;
    height: 42px;
    background-color: #000000;
    opacity: 80%;
    margin-top: -46px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}

.Game4 p {
    width: 224px;
    height: 42px;
    background-color: #000000;
    opacity: 80%;
    margin-top: -46px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}


/* MID-SECTION */

main {
    float: left;
}

main img {
    width: 600;
    height: 316px;
    padding-left: 152px;
}

aside {
    float: right;
    padding-right: 81px;
}

aside h3 span{
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    color: #D22CF5;
}

aside h3 {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 400;
    color: white;
    text-align: center;
    inline-size: 360px;
}

aside h4 {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 400;
    color: white;
    text-align: center;
}

aside p {
    inline-size: 360px;
    text-align: center;
}

main,
aside {
    margin-top: 110px;
    margin-bottom: 110px;
}



/* FOOTER */

footer {
    height: 261px;
    width: 1440px;
    background-color: black;
    list-style: none;
}

.Contact a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.Contact li p {
    font-size: 15px;
}

.About a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 0px 0px 200px 300px
}

.Follow img {
    height: 25px;
    width: 25px;
    margin-left: 5px;
}
